:root {
    --bg-color: #282a35;
    --color-accent: #FF5794;
    --color-dark: #0D0E13;
    --color-secondary: #5D6798;
    --color-white: #FFFFFF;
    --color-warning: #ff5729;
    --bg-main: #11131C;
    --bg-secondary: #171A26;
}