:root {
  --bg-color: #282a35;
  --color-accent: #e10098;
  --color-dark: #0d0e13;
  --color-secondary: #5d6798;
  --color-white: #ffffff;
  --color-warning: #ff5729;
  --bg-main: #11131c;
  --bg-secondary: #171a26;
  --form-btn-bg: #47224f;
}
