:root {
  --bg-color: #282a35;
  --color-accent: #e10098;
  --color-dark: #0d0e13;
  --color-secondary: #5d6798;
  --color-white: #ffffff;
  --color-warning: #ff5729;
  --color-focus: #036fc7;
  --bg-main: #11131c;
  --bg-secondary: #171a26;
  --form-btn-bg: #47224f;
  --radio-checked: #303035;
  --code-border: #d3d1c8;
  --code-hover: #e7f1f1;
  --code-red: #b11a04;
  --code-blue: #1f61a0;
  --code-yellow: #ca9800;
  --code-grey: #555555;
  --header-height: 90px;
  --footer-height: 100px;
  --editor-play-bg: #ff5794;
  --color-docs: #eb9c00;
}

$content-width: 1197px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width-fix: 330px;
$mobile-small-width: 320px;
