.footer {
  flex: 0 0 auto;
  height: 100px;
  font-family: 'Reaver', serif;
  background-color: var(--color-dark);
  text-align: center;
  color: var(--color-white);
}

.authors {
  display: flex;
  gap: 20px;
}

.links {
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  color: var(--color-white);
  @extend %standart-animation;
  transition-property: color;
  &:hover {
    color: var(--color-accent);
  }
}

.year {
  @extend %absolut-center;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
}

.logo {
  width: 134px;
  height: 50px;
}

.icon {
  @extend %w-h-100;
  @extend %standart-animation;
  fill: var(--color-white);
  transition-property: fill;
  &:hover {
    fill: var(--color-accent);
  }
}
