$baseName: 'userAuth';

.#{$baseName} {
  @extend %flex-col-all-center;
  background-color: var(--color-dark);
  gap: 30px;
  max-width: 520px;
  width: 100%;
  padding: 60px;
  border-radius: 15px;
}

.#{$baseName}Heading {
  @extend %flex-col-all-center;
  width: inherit;
  gap: 50px;
}

.#{$baseName}Radios {
  @extend %flex-row-center;
  justify-content: space-between;
  position: relative;
  padding: 10px;

  .#{$baseName}Radio {
    position: absolute !important;
    @extend %visually-hidden;
  }

  .#{$baseName}Radio:checked + .#{$baseName}Label {
    background-color: var(--radio-checked);
    box-shadow: none;
  }

  .#{$baseName}Radio:focus-visible + .#{$baseName}Label {
    outline: 3px solid var(--color-focus);
    outline-offset: 2px;
  }

  .#{$baseName}Label {
    cursor: pointer;
    background-color: transparent;
    color: var(--color-white);
    font-size: 21px;
    text-align: center;
    padding: 8px 16px;
    margin-right: -1px;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: all 0.1s ease-in-out;
    max-width: 210px;
    width: 100%;
    line-height: 40px;
    border-radius: 10px;
  }
}
