.form {
  @extend %flex-col-all-center;
  width: 100%;
  gap: 35px;
}

.input {
  @include InterFont(var(--color-white));
  @extend %standart-animation;
  background-color: transparent;
  width: 100%;
  padding: 0px 15px;
  border: 1px solid var(--color-secondary);
  border-radius: 5px;
  outline: none;

  &::placeholder {
    color: var(--color-secondary);
  }

  &:hover {
    border-color: var(--editor-play-bg);
  }

  &:focus {
    border-color: var(--code-yellow);
  }
}

.input.errorInput {
  border-color: var(--color-accent);
}

.error {
  color: var(--color-accent);
}
