.example {
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  position: relative;
  width: 450px;
  height: 400px;
  font-size: 14px;
  line-height: 17px;
  color: var(--color-dark);
  background-color: var(--color-white);
  border-radius: 6px 6px 0 0;
  &::before {
    background: linear-gradient(#f0f0f0, #dedede);
    box-shadow: inset 0 2px 2px -2px #fff, 0 1px rgba(0, 0, 0, 0.4);
    content: ' ';
    display: block;
    height: 25px;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__query,
  &__types {
    width: 49%;
    padding-top: 30px;
    padding-bottom: 10px;

    & .line {
      z-index: 2;
      &:hover {
        background-color: var(--code-hover);
      }
    }
  }
  &__border {
    width: 1%;
    height: inherit;
    background-color: var(--code-border);
  }
}

.query__pointer {
  position: absolute;
  top: 47px;
  left: 0;
  z-index: 0;
  width: 49%;
  height: 17px;
  background-color: var(--code-hover);
}

.types__pointer {
  position: absolute;
  top: 47px;
  right: 0;
  z-index: 0;
  width: 49%;
  height: 17px;
  background-color: var(--code-hover);
}

.line {
  position: relative;
}
