.docsFields {
  display: flex;
  flex-direction: column;
  gap: 20px;
  button {
    @extend %editor-docs-button;
  }
  li {
    display: flex;
    gap: 10px;
  }
}

.docsType {
  button {
    @extend %editor-docs-button;
  }
}

.docTypeTitle {
  color: var(--color-secondary);
  padding-top: 10px;
}

button.docTypeName {
  color: var(--color-secondary);
}

.docTypeArgs {
  color: var(--color-white);
}

.docTypeDescription {
  color: var(--color-accent);
}
