.app {
  margin: 0 auto;
  display: grid;
  grid-template-rows: var(--header-height) 1fr var(--footer-height);
  min-height: 100vh;
  background-color: var(--bg-main);
  @include media-tablet {
    grid-template-rows: minmax(var(--header-height), max-content) 1fr minmax(
        var(--footer-height),
        max-content
      );
  }
}
