.header {
  font-family: 'Reaver', serif;
  background-color: var(--bg-main);
  color: #fff;
}

.bounding {
  @extend %container;
}

.inner {
  @extend %content;
}

.logo {
  display: flex;

  &__img {
    width: 60px;
    margin-right: 10px;
  }

  &__title {
    display: flex;
    align-items: flex-end;
    width: 110px;
    line-height: 27px;
    font-weight: 700;
    font-size: 21px;
  }
}

.options {
  display: flex;
  gap: 30px;
  line-height: 1em;
}

.localization {
  display: flex;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;

  &__ru {
    padding-right: 5px;
    border-right: 1px solid #fff;
    transition: all 0.3s ease;
    &:hover {
      opacity: 0.5;
    }
  }

  &__en {
    padding-left: 5px;
    transition: all 0.3s ease;
    &:hover {
      opacity: 0.5;
    }
  }
}

.auth {
  font-family: 'Reaver', 'serif';
  font-weight: 600;
  cursor: pointer;
}

.sign__in {
  color: #5d6798;
  transition: all 0.3s ease;
  &:hover {
    opacity: 0.5;
  }
}

.sign__up {
  transition: all 0.3s ease;
  &:hover {
    opacity: 0.5;
  }
}
