.header {
  height: 90px;
  background-color: var(--bg-main);
  color: var(--color-white);
  position: sticky;
  top: 0;
  border-bottom: 1px solid transparent;
  @extend %standart-animation;
  transition-property: background-color border-bottom;
}

.headerActive {
  background-color: var(--color-dark);
  border-bottom: 1px solid var(--color-secondary);
}

.logo {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 10px;

  &__img {
    width: 60px;
    fill: var(--color-accent);
  }

  &__title {
    display: flex;
    align-items: center;
    line-height: 27px;
    font-family: 'Reaver', serif;
    font-weight: 700;
    font-size: 21px;
  }
}

.options {
  display: flex;
  gap: 30px;
  line-height: 1em;
}

.localization {
  display: flex;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;

  &__ru,
  &__en {
    @extend %standart-animation;
    transition-property: color;
    &:hover {
      color: var(--color-secondary);
    }
  }

  &__ru {
    padding-right: 3px;
    border-right: 1px solid var(--color-white);
  }

  &__en {
    padding-left: 3px;
  }
}

.auth {
  font-family: 'Reaver', 'serif';
  font-weight: 600;
  color: var(--color-secondary);
  @extend %standart-animation;
  transition-property: color;
  &:hover {
    color: var(--color-white);
  }

  &__slash {
    color: var(--color-accent);
  }
}

.nav {
  display: flex;
  gap: 20px;
  &__link {
    font-family: 'Reaver', 'serif';
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: var(--color-secondary);
    @extend %standart-animation;
    transition-property: color;
    &:hover {
      color: var(--color-white);
    }

    &_active {
      color: var(--color-white);
    }
  }
}
