.header {
  background-color: var(--bg-main);
  color: var(--color-white);
}

.bounding {
  @extend %container;
}

.inner {
  @extend %content;
}

.logo {
  display: flex;
  height: 100%;
  gap: 10px;

  &__img {
    width: 60px;
    fill: var(--color-accent);
  }

  &__title {
    display: flex;
    align-items: center;
    line-height: 27px;
    font-family: 'Reaver', serif;
    font-weight: 700;
    font-size: 21px;
  }
}

.options {
  display: flex;
  gap: 30px;
  line-height: 1em;
}

.localization {
  display: flex;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;

  &__ru,
  &__en {
    @extend %standart-animation;
    transition-property: color;
    &:hover {
      color: var(--color-secondary);
    }
  }

  &__ru {
    padding-right: 3px;
    border-right: 1px solid var(--color-white);
  }

  &__en {
    padding-left: 3px;
  }
}

.auth {
  font-family: 'Reaver', 'serif';
  font-weight: 600;
  cursor: pointer;

  &__slash {
    color: var(--color-secondary);
  }
}

.sign__in,
.sign__up {
  color: var(--color-secondary);
  @extend %standart-animation;
  transition-property: color;
  &:hover {
    color: var(--color-white);
  }
}
