.input {
  @include InterFont(var(--color-secondary));
  background-color: transparent;
  width: 100%;
  border: 0;

  &:hover {
    border-color: var(--color-accent);
  }

  &:focus {
    border: 1px solid var(--color-accent);
  }
}
