.wrapper {
  padding: 0;
}

.welcome {
  @extend %flex-col-all-center;
  gap: 100px;
  width: 100%;
  max-width: 1720px;
  margin: 30px auto;
  padding: 60px;
  background-color: var(--color-dark);
  color: var(--color-white);
  border-radius: 15px;
  @include media-laptop {
    padding: 30px;
    gap: 50px;
  }
  @include media-tablet {
    padding: 30px 10px;
    gap: 40px;
  }
  @include media-mobile {
    padding: 20px 10px;
  }
}

.title {
  font-weight: 600;
  font-size: 52px;
  line-height: 68px;
  text-align: center;
  & span {
    color: var(--color-accent);
  }
  @include media-laptop {
    font-size: 38px;
    line-height: 1.2em;
  }
  @include media-tablet {
    font-size: 28px;
  }
  @include media-mobile {
    font-size: 24px;
  }
}

.intro {
  @extend %list;
  align-items: center;
  gap: 50px;
  padding: 10px 0;
  @include media-tablet {
    flex-direction: column;
    gap: 40px;
  }
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
  animation: move 1s ease-in-out 0.5s both;

  &__img {
    width: 150px;
    fill: var(--color-accent);
  }

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    line-height: 27px;
    font-weight: 300;
    font-size: 30px;
    & span {
      color: var(--color-accent);
    }
  }
}

@keyframes move {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.blocks {
  @extend %list;
  gap: 50px;
  @include media-laptop {
    flex-direction: column;
  }
  @include media-tablet {
    gap: 30px;
  }
}

.block {
  &:nth-child(1) {
    animation: move 1s ease-in-out 1s both;
  }

  &:nth-child(2) {
    animation: move 1s ease-in-out 1.5s both;
  }

  &:nth-child(3) {
    animation: move 1s ease-in-out 2s both;
  }

  @include media-tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 0.8em;
    font-size: 22px;
    font-weight: 300;
    text-align: center;
  }
  &__code {
    font-size: 14px;
    line-height: 17px;
  }
  & .line {
    display: flex;
    flex-wrap: wrap;
  }
}

.about {
  @extend %flex-col-all-center;
  gap: 100px;
  @include media-tablet {
    gap: 60px;
  }

  &__title {
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
    text-align: center;
    @include media-tablet {
      font-size: 24px;
      line-height: 1.2em;
      margin-bottom: 20px;
    }
    @include media-mobile {
      font-size: 20px;
    }
  }
  &__text {
    max-width: 760px;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    @include media-tablet {
      font-size: 17px;
      line-height: 1.4em;
    }
    @include media-mobile {
      font-size: 16px;
    }
    &__accent {
      color: var(--color-accent);
    }
  }
}

.description {
  @extend %flex-row-center;
  gap: 100px;
  flex-wrap: wrap;
  height: 100%;
  @include media-tablet {
    gap: 60px;
    flex-direction: column-reverse;
  }
}

.describe {
  @extend %flex-col-center;
  text-align: center;
  &__title {
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 29px;
    line-height: 35px;
    @include media-tablet {
      font-size: 24px;
      line-height: 1.2em;
      margin-bottom: 20px;
    }
  }
  &__text {
    max-width: 580px;
    font-size: 21px;
    line-height: 25px;
    @include media-tablet {
      font-size: 17px;
      line-height: 1.4em;
    }
  }
}

.tools {
  &__title {
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 29px;
    line-height: 35px;
    text-align: center;
    @include media-tablet {
      font-size: 24px;
      line-height: 1.2em;
      margin-bottom: 20px;
    }
  }
}

.team {
  width: inherit;
  &__title {
    font-size: 29px;
    text-align: center;
    margin-bottom: 60px;
    @include media-tablet {
      font-size: 24px;
      line-height: 1.2em;
      margin-bottom: 20px;
    }
  }
  &__members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: inherit;
    @include media-tablet {
      justify-content: center;
      gap: 20px;
    }
  }
}

.member {
  cursor: pointer;
  @extend %flex-col-all-center;
  padding: 25px 45px 45px;
  border-radius: 15px;
  background-color: var(--bg-secondary);
  @include media-laptop {
    padding: 15px 25px;
  }
  @include media-tablet {
    padding: 10px;
  }

  &:hover > &__github {
    color: var(--color-accent);
    border-color: var(--color-accent);
  }

  &__avatar {
    border-radius: 50%;
    margin-bottom: 30px;
    @include media-laptop {
      width: 135px;
      margin-bottom: 15px;
    }
    @include media-tablet {
      width: 100px;
    }
  }
  &__name {
    margin-bottom: 20px;
    font-family: 'Reaver', 'serif';
    text-align: center;
    font-size: 21px;
    @include media-laptop {
      font-size: 18px;
      margin-bottom: 15px;
    }
  }
  &__github {
    padding: 13px 52px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    border: 1px solid var(--color-secondary);
    border-radius: 15px;
    color: var(--color-white);
    @extend %standart-animation;
    transition-property: color, border-color;
    @include media-laptop {
      font-weight: 400;
      padding: 5px 20px;
    }
  }
}

.link {
  color: var(--color-white);
  border-bottom: 3px solid var(--color-white);
  font-weight: 600;
}
