.welcome {
  @extend %flex-col-all-center;
  width: 100%;
  padding: 20px 0;
  background-color: var(--bg-main);
  color: var(--color-white);
}

.title {
  font-weight: 600;
  font-size: 56px;
  line-height: 68px;
  margin-bottom: 85px;
  & span {
    color: var(--color-accent);
  }
}

.intro {
  @extend %list;
  align-items: center;
  width: 80%;
  gap: 50px;
  margin-bottom: 100px;
  padding: 10px 0;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
  animation: move 1s ease-in-out 0.5s both;

  &__img {
    width: 150px;
    fill: var(--color-accent);
  }

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    line-height: 27px;
    font-weight: 300;
    font-size: 30px;
    & span {
      color: var(--color-accent);
    }
  }
}

@keyframes move {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.blocks {
  @extend %list;
  gap: 50px;
}

.block {
  &:nth-child(1) {
    animation: move 1s ease-in-out 1s both;
  }

  &:nth-child(2) {
    animation: move 1s ease-in-out 1.5s both;
  }

  &:nth-child(3) {
    animation: move 1s ease-in-out 2s both;
  }

  &__title {
    margin-bottom: 0.8em;
    font-size: 22px;
    font-weight: 300;
  }
  &__code {
    font-size: 14px;
    line-height: 17px;
  }
}

.about {
  @extend %flex-col-all-center;

  &__title {
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
    text-align: center;
  }
  &__text {
    width: 760px;
    margin-bottom: 100px;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
  }
}

.description {
  @extend %flex-row-center;
  gap: 100px;
  height: 100%;
}

.describe {
  @extend %flex-col-all-center;
  &__title {
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
    text-align: center;
  }
  &__text {
    width: 760px;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
  }
}
