.innerEditor {
  margin: 40px 0px;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 30px;
}

.wrapper {
  background-color: var(--color-dark);
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 15px;
  overflow: hidden;
  background-color: var(--bg-secondary);
  @include media-tablet {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }
}

.playGround {
  width: 100%;
  padding-right: 90px;
  height: 500px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  padding-right: 90px;
  background-color: var(--bg-main);
}

.options {
  display: flex;
  gap: 10px;
  align-items: center;
}

.optionsButton {
  font-size: 16px;
  background-color: transparent;
  padding: 10px;
  border: none;
  color: var(--color-secondary);
  border-radius: 5px;
  @extend %standart-animation;
  transition-property: background-color, color;
  &:hover {
    color: var(--color-white);
  }
  &.active {
    background-color: var(--bg-color);
    color: var(--color-white);
  }
}
